


.navbar{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  
}

.card-sec{
  padding: 100px 0px;
}

a{
  text-decoration: none !important;
  color:#000;
}
a:hover{
  text-decoration: none !important;
  color:#000;
}

.destails{
  padding-top: 50px;
}
.product-img {
  height: 500px;
  overflow: hidden;
  margin: auto;
  display: flex;
}
.product-img img{
  width: 300px;
  margin: auto;
}


.navbar-nav span{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  color:#000;
  display: inline-block;
  position: absolute;
}

.navbar-nav span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  display: inline-block;
  position: absolute;
  left: 25px;
  top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}


li.nav-item {
  position: relative;
}